.container{
    margin: 20px auto;
    max-width: 1500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-contanier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    text-align: center;
    margin: 20px 0;
}

.button-group button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #ff6000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #ff6000;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ff6000;
    color: white;
}

td button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #ff6000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #ff6000;
}